html, body {
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  background-color: #000000;
  letter-spacing: 0.098rem;
  line-height: 1.64;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
::-webkit-scrollbar {
  display: none;
}
 /*large diveces */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  html, body {
    text-align: justify;
  }
}
 /*large diveces retina display */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  html, body {
    text-align: justify;
  }
}

/* small diveces including landscape modes */
@media (max-width:320px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
@media (max-width:480px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
@media (max-width:600px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
@media (max-width:801px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}

.portfolio-contact-details {
  margin-bottom: 40px;
}
.portfolio-title {
  padding: 34px 0px 34px 0px;
  text-align: center;
  text-transform: uppercase;
}
.lead-lg {
  font-size: 4.12rem;
}
.lead-lg, .lead {
  letter-spacing: 0.29rem;
}
.img-thumbnail {
  width: 174px;
  border: none;
  padding: 1px;
}
.title {
  font-size: 0.86rem;
  text-transform: uppercase;
}
.tile-info-wrapper {
  display: none;
}
.title-info {
  font-size: 0.82rem;
}
.toggable-title:after {
  content: "[+]";
  margin-left: 8px;
}
li {
  margin-bottom: 6px;
}
.toggable-title.active:after {
  content: "[-]";
}
.info-separator {
  margin: 22px 0 22px 0;
}
.info-separator i, .social-media-icons i {
  font-size: 0.45rem;
  margin: 0px 6px;
}
.social-media-icons i {
  font-size: 0.84rem;
}
a:hover {
  text-decoration: none;
}
