html, body {
  font-family: 'Nunito', sans-serif;
  color: #8c8c8c;
  background-color: #f4f4f4;
  letter-spacing: 0.1rem;
  -ms-overflow-style: none; // IE
  overflow: -moz-scrollbars-none; // Firefox
}
::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}
 /*large diveces */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  html, body {
    text-align: justify;
  }
}
 /*large diveces retina display */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  html, body {
    text-align: justify;
  }
}

/* small diveces including landscape modes */
@media (max-width:320px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
@media (max-width:480px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
@media (max-width:600px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
@media (max-width:801px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}

.content-welcome-overlay {
  display: table;
  background-color: #000000;
  opacity: 0.6;
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.content-welcome-overlay:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("amura-work.jpg") no-repeat center center fixed;
  opacity: .34;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.welcome-note {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  font-size: 6rem;
}

.portfolio-title {
  padding: 44px 0px 44px 0px;
  text-align: center;
  text-transform: uppercase;
}
.lead-lg {
  font-size: 4.12rem;
  font-weight: 300;
  letter-spacing: 0.29rem;
}
.lead {
  font-size: 1.12rem;
  font-weight: 300;
  letter-spacing: 0.29rem;
}
.img-thumbnail {
  height: 222px;
  width: 200px;
}
.title {
  font-size: 1.01rem;
  text-transform: uppercase;
}
.title-info {
  font-size: 1.06rem;
  text-decoration: none;
  color: #5d5d5d;
}
.title-info:hover, .title-info:active, .title-info:focus {
  text-decoration: none;
  color: #2c2c2c;
}
.info-separator {
  margin: 21px 0 21px 0;
  font-size: .48rem;
}
.info-separator i {
  margin-left: 2px;
  margin-right: 2px;
}
.social-media-icons i {
  margin-left: 4px;
  margin-right: 4px;
}
