button {
  min-width: 60px;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.btn:focus, .btn:active, .btn:hover {
  outline: none !important;
  box-shadow: none !important;
}
.btn-success {
  background-color: #53ad68 !important;
}
