html, body {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.098rem;
  line-height: 1.68;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  text-transform: lowercase;
}
::-webkit-scrollbar {
  display: none;
}
 /*large diveces */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  html, body {
    text-align: justify;
  }
  .pull-up {
    margin-top: -38px;
  }
}
 /*large diveces retina display */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  html, body {
    text-align: justify;
  }
  .pull-up {
    margin-top: -38px;
  }
}

/* small diveces including landscape modes */
@media (max-width:320px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
@media (max-width:480px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
@media (max-width:600px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
@media (max-width:801px) {
  .sm-device-mar-top {
    margin-top: 25px;
  }
}
a {
  color: #1f1a1a;
  text-decoration: none;
}
ul {
  list-style: circle;
}
strong, b {
  color: #4286f4;
  font-weight: 800;
}
.portfolio-title {
  text-align: center;
}
.lead-lg {
  font-size: 3.56rem;
  font-weight: 800;
}
.lead-lg, .lead {
  letter-spacing: 0.29rem;
}
.img-thumbnail {
  border: none;
  border-radius: 100%;
  width: 186px;
  padding: 0px;
}
.title {
  font-size: 0.96rem;
  font-weight: 800;
  color: #1f1a1a;
}
.tile-info-wrapper {
  display: none;
}
.title-info {
  font-size: 0.86rem;
}
.toggable-title:after {
  content: "[+]";
  margin-left: 8px;
}
li {
  margin-bottom: 6px;
}
.toggable-title.active:after {
  content: "[-]";
}
.info-separator {
  margin: 30px 0 30px 0;
}
a:hover {
  color: #4286f4;
  text-decoration: none;
}
.find-me-on {
  text-align: center;
}
.social-media-icon {
  font-size: 21px;
  margin: 0px 8px;
}
.social-media-icon:hover {
  color: #4286f4;
}
