.day-night-mode-toggle {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 12px;
  font-size: 21px;
}
.day-night-mode-toggle {
  cursor: pointer;
}

/* day mode text colors */
.day-time {
  background-color: #f4f4f4;
  color: #585858;
}
.day-time .day-night-mode-toggle {
  color: #4739ff;
}
/* day mode text colors */


/* night mode text colors */
.night-time {
  background-color: #0f0f0f;
  color: #f4f4f4;
}
.night-time a {
  color: #00f6ff !important;
}
.night-time .img-thumbnail {
  border: 1px solid;
}
.night-time .day-night-mode-toggle {
  color: #00f6ff;
}
.night-time .title {
  color: #f4f4f4;
}
/* night mode text colors */
