.parallax {
  position: fixed;
  z-index: 0;
}
.parallax .stars {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 505px 1507px , 1725px 1133px , 72px 868px , 129px 941px , 780px 953px , 903px 11px , 741px 581px , 1744px 1697px , 362px 522px , 841px 1938px , 1710px 1803px , 676px 1890px , 1369px 1410px , 1047px 1254px , 1371px 1158px , 82px 1039px , 960px 1016px , 1168px 100px , 1330px 1525px , 1088px 164px , 1810px 1420px , 230px 1584px , 1276px 1090px , 111px 68px , 1297px 1751px , 469px 1627px , 247px 1972px , 162px 750px , 187px 272px , 309px 1040px , 110px 1103px , 893px 922px , 631px 1910px , 1365px 1435px , 120px 684px , 1348px 1186px , 1670px 1232px , 827px 931px , 1186px 1983px , 1245px 1073px , 1221px 1574px , 394px 874px , 1891px 707px , 1129px 539px , 569px 36px , 251px 832px , 1971px 1390px , 460px 1582px , 129px 1105px , 786px 1082px , 237px 1285px , 1674px 279px , 1583px 1515px , 1570px 1454px , 275px 1940px , 1992px 566px , 1207px 787px , 1037px 1923px , 1762px 824px , 399px 1715px , 317px 1368px , 693px 293px , 1823px 369px , 994px 1878px , 864px 1625px , 1259px 366px , 1512px 802px , 959px 1600px , 1119px 112px , 1017px 548px , 1645px 441px , 1878px 580px , 78px 1295px , 1782px 398px , 837px 45px , 1230px 423px , 542px 505px , 843px 1950px , 1192px 1155px , 767px 1442px , 1816px 958px , 1124px 1769px , 1417px 169px , 1331px 764px , 1442px 1148px , 1032px 824px , 1293px 37px , 339px 1977px , 1985px 292px , 628px 466px , 1988px 1938px , 1821px 1332px , 908px 317px , 1714px 531px , 233px 983px , 520px 1270px , 908px 297px , 1820px 131px , 512px 1444px , 773px 1551px;
  animation: animStar 50s linear infinite;
}
.parallax .stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 505px 1507px , 1725px 1133px , 72px 868px , 129px 941px , 780px 953px , 903px 11px , 741px 581px , 1744px 1697px , 362px 522px , 841px 1938px , 1710px 1803px , 676px 1890px , 1369px 1410px , 1047px 1254px , 1371px 1158px , 82px 1039px , 960px 1016px , 1168px 100px , 1330px 1525px , 1088px 164px , 1810px 1420px , 230px 1584px , 1276px 1090px , 111px 68px , 1297px 1751px , 469px 1627px , 247px 1972px , 162px 750px , 187px 272px , 309px 1040px , 110px 1103px , 893px 922px , 631px 1910px , 1365px 1435px , 120px 684px , 1348px 1186px , 1670px 1232px , 827px 931px , 1186px 1983px , 1245px 1073px , 1221px 1574px , 394px 874px , 1891px 707px , 1129px 539px , 569px 36px , 251px 832px , 1971px 1390px , 460px 1582px , 129px 1105px , 786px 1082px , 237px 1285px , 1674px 279px , 1583px 1515px , 1570px 1454px , 275px 1940px , 1992px 566px , 1207px 787px , 1037px 1923px , 1762px 824px , 399px 1715px , 317px 1368px , 693px 293px , 1823px 369px , 994px 1878px , 864px 1625px , 1259px 366px , 1512px 802px , 959px 1600px , 1119px 112px , 1017px 548px , 1645px 441px , 1878px 580px , 78px 1295px , 1782px 398px , 837px 45px , 1230px 423px , 542px 505px , 843px 1950px , 1192px 1155px , 767px 1442px , 1816px 958px , 1124px 1769px , 1417px 169px , 1331px 764px , 1442px 1148px , 1032px 824px , 1293px 37px , 339px 1977px , 1985px 292px , 628px 466px , 1988px 1938px , 1821px 1332px , 908px 317px , 1714px 531px , 233px 983px , 520px 1270px , 908px 297px , 1820px 131px , 512px 1444px , 773px 1551px;
}
@keyframes animStar {
  from {
    transform: translateY(-1500px);
  }
  to {
    transform: translateY(0px);
  }
}
